<template name="gardenPlants">
    <section class="panel panel-default">
        <header class="panel-heading">
            {{#if currentUser}}
                {{> newGardenPlant}}
            {{else}}
                <h1 class="panel-title">Garden Plants</h1>
            {{/if}}
        </header>
        <table class="table">
            <tbody>
            {{#each gardenPlants}}
                <tr>
                    {{> gardenPlantListItem}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    </section>
</template>

<template name="newGardenPlant">
    <form class="newGardenPlant newGardenPlantForm form-inline">
        <div class="form-group">
            <label for="newGardenPlant_name">Name</label>
            <input type="text" name="name" value="" placeholder="Name" id="newGardenPlant_name" required
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="newGardenPlant_id">Type</label>
            <select name="plantId" id="newGardenPlant_id" required class="form-control">
                <option value="">---</option>
                {{#each plants}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="createBtn btn btn-default">New</button>
    </form>
</template>