<template name="gardenPlants">
    {{#if currentUser}}
        {{> newGardenPlant}}
    {{/if}}
    <div class="row list-garden-plants">
        <ul>
            {{#each gardenPlants}}
                <li class="row">
                    {{> gardenPlantListItem}}
                </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="newGardenPlant">
    <div class="row newGardenPlant">
        <form class="newGardenPlantForm">
            <label class="col-md-2">
                <span>Name</span>
                <input type="text" name="name" value="" placeholder="Name" required/>
            </label>
            <label class="col-md-2">
                <span>Type</span>
                <select name="plantId" required>
                    <option value="">---</option>
                    {{#each plants}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </label>
            <button type="submit" class="createBtn">New</button>
        </form>
    </div>
</template>

<template name="gardenPlantListItem">
    <span class="col-md-2">
        <img src="{{plantIcon}}" title="{{name}}" class="list-garden-plant-icon">
    </span>
    <span class="col-md-8">
        <span class="list-plant-name">{{name}}</span><br/>
        <span class="list-plant-scienceName">{{getPlantName plantId}}</span>
    </span>
    <span class="col-md-2">
        <a href="{{ pathFor 'gardenPlantDetails' id=this._id}}" class="fa fa-edit garden-plant-edit"></a>
        <a href class="fa fa-remove garden-plant-delete"></a>
    </span>
</template>