<template name="gardenPlantDetails">
    <div class="garden-plant-details-page">
        <div class="col-sm-3">
            {{> gardenPlantDetailsHeader}}
        </div>
        <div class="col-sm-9">
            {{> gardenPlantDetailsContent}}
        </div>
    </div>
</template>

<template name="gardenPlantActions">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle {{btnCssClass}}" type="button" id="gardenPlantActions"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-heart"></i>
            Take care
            <span class="caret"></span>
        </button>
        <ul aria-labelledby="gardenPlantActions" class="dropdown-menu">
            <li><a href class="waterGardenPlant">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-{{GardenPlant.actionCssMapping 'water'}} fa-stack-1x fa-inverse"></i>
                </span>
                Water plant</a></li>
            <li><a href class="sprayGardenPlant">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-{{GardenPlant.actionCssMapping 'spray'}} fa-stack-1x fa-inverse"></i>
                </span>
                Spray plant</a></li>
            <li><a href class="fertilizeGardenPlant">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-{{GardenPlant.actionCssMapping 'fertilize'}} fa-stack-1x fa-inverse"></i>
                </span>
                Fertilize plant</a></li>
        </ul>
    </div>
</template>

<template name="gardenPlantEvents">
    <table class="table">
        <thead>
        <tr>
            <th>Event</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        {{#each gardenPlantEvents}}
            <tr>
                <td>{{event}}</td>
                <td>{{createdAt}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>

<template name="gardenPlantDetailsHeader">
    <header class="">
        <div class="row">
            <div class="col-sm-5">
                <span class="fa fa-5x fa-border">
                    <span class="glyphicon glyphicon-grain"></span>
                </span>
            </div>
            <div class="col-sm-7">
                <span class="">
                    {{> gardenPlantRequiredAction plant=this.gardenPlant actionName='water'}}
                    {{> gardenPlantRequiredAction plant=this.gardenPlant actionName='spray'}}
                    {{> gardenPlantRequiredAction plant=this.gardenPlant actionName='fertilize'}}
                </span>
                <span class="">
                    <button class="btn btn-default btn-block {{#if GardenPlant.amIWatching this.gardenPlant}}unwatchGardenPlant active{{else}}watchGardenPlant{{/if}}"
                            type="button">
                        <i class="fa fa-eye" style="color:black;"></i>
                        {{#if GardenPlant.amIWatching this.gardenPlant}}Unwatch{{else}}Watch{{/if}}
                        <span class="badge">{{_.size gardenPlant.watcher}}</span>
                    </button>
                </span>
                <span class="">
                    {{> gardenPlantActions btnCssClass="btn-block"}}
                </span>
            </div>
        </div>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item">
                    <h2>{{> xEditable type="text" value=gardenPlant.name success=onSuccessName placement="right" name='name' disabled=isNotUserLoggedIn}}</h2>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-leaf fa-fw"></i>
                    {{> xEditable type="select" value=gardenPlant.plantId success=onSuccessPlantId name='plantId' disabled=isNotUserLoggedIn source=plantsList}}
                    <a href='{{ pathFor route='plantDetails' _id=gardenPlant.plantId}}'><i
                            class='fa fa-info'></i></a>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-map-marker fa-fw"></i>
                    {{> xEditable type="typeaheadjs" value=gardenPlant.garden success=onSuccessGarden name='garden' disabled=isNotUserLoggedIn typeahead=typeaheadjs}}
                </li>
            </ul>
        </div>
    </header>
</template>

<template name="gardenPlantDetailsContent">
        <div class="panel-group" id="gardenPlantDetails">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Upcoming events</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#if gt plant.waterInterval 0}}
                            <li>Water in {{diffToday gardenPlant.actions.water.nextDate 'd'}} days</li>
                        {{/if}}
                        {{#if gt plant.sprayInterval 0}}
                            <li>Spray in {{diffToday gardenPlant.actions.spray.nextDate 'd'}} days</li>
                        {{/if}}
                        {{#if gt plant.fertilizeInterval 0}}
                            <li>Fertilize in {{diffToday gardenPlant.actions.fertilize.nextDate 'd'}} days</li>
                        {{/if}}
                    </ul>
                </div>
            </section>
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{> gardenPlantActions}}</h3>
                </div>

                <div class="panel-body">
                    {{> gardenPlantEvents}}
                </div>
            </section>
        </div>
</template>