<template name="gardenPlantListItem">
    <td class="">
        <img src="{{plantIcon}}" title="{{name}}" class="list-garden-plant-icon"/>
    </td>
    <td class="">
        {{> gardenPlantRequiredAction plant=this actionName='water' eventDayRange=1}}
        {{> gardenPlantRequiredAction plant=this actionName='spray' eventDayRange=1}}
        {{> gardenPlantRequiredAction plant=this actionName='fertilize' eventDayRange=1}}
    </td>
    <td class="">
        <span class="list-plant-name">{{name}}</span><br/>
        <span class="list-plant-scienceName">{{getPlantName plantId}}</span>
    </td>
    <td class="">
        <a href="{{ pathFor 'gardenPlantDetails' id=this._id}}" class="garden-plant-edit"><i class="fa fa-edit fa-2x"></i></a>
        <a href class="garden-plant-delete"><i class="fa fa-remove fa-2x"></i></a>
        {{#if GardenPlant.amIWatching this}}
            <a href class="garden-plant-delete"><i class="fa fa-remove fa-2x"></i> </a>
        {{/if}}
    </td>
</template>

<template name="gardenPlantRequiredAction">
    {{#if GardenPlant.isActionRequired plant actionName}}
        {{#if GardenPlant.isActionUpcoming plant actionName eventDayRange}}
            <a href>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-{{GardenPlant.actionCssMapping actionName}} fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        {{/if}}
    {{/if}}
</template>