<template name="gardenPlantListItem">
    <td class="">
        <img src="{{plantIcon}}" title="{{name}}" class="list-garden-plant-icon"/>
    </td>
    <td class="">
        {{> gardenPlantRequiredAction plant=this actionName='water'}}
        {{> gardenPlantRequiredAction plant=this actionName='spray'}}
        {{> gardenPlantRequiredAction plant=this actionName='fertilize'}}
    </td>
    <td class="">
        <span class="list-plant-name">{{name}}</span><br/>
        <span class="list-plant-scienceName">{{getPlantName plantId}}</span>
    </td>
    <td class="">
        <a href="{{ pathFor 'gardenPlantDetails' id=this._id}}" class="garden-plant-edit"><i class="fa fa-edit fa-2x"></i></a>
        <a href class="deleteGardenPlant"><i class="fa fa-remove fa-2x"></i></a>
        {{#if GardenPlant.amINotWatching this}}
            <a href class="watchGardenPlant"><i class="fa fa-eye fa-2x"></i> </a>
        {{/if}}
    </td>
</template>

<template name="gardenPlantRequiredAction">
    <span class="
        {{#if GardenPlant.isRequiredActionUpcoming plant actionName eventDayRange}}
            {{else}}
            invisible
        {{/if}}">
            <a href class="{{actionName}}GardenPlant">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-{{GardenPlant.actionCssMapping actionName}} fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </span>
</template>