<template name="gardenPlantDetails">
    <div class="garden-plant-details-page">
        <header class="">
            <div class="">
                <h2>{{> xEditable type="text" value=gardenPlant.name success=onSuccessName placement="right" name='name' disabled=isNotUserLoggedIn}}</h2>
                <dl class="dl-horizontal">
                    <dt>
                        <i class="fa fa-leaf"></i>
                    </dt>
                    <dd>
                        {{> xEditable type="select" value=gardenPlant.plantId success=onSuccessPlantId name='plantId' disabled=isNotUserLoggedIn source=plantsList}}
                        <a href='{{ pathFor route='plantDetails' _id=gardenPlant.plantId}}'><i class='fa fa-info'></i></a>
                    </dd>
                    <dt>
                        <i class="fa fa-map-marker"></i>
                    </dt>
                    <dd>
                        {{> xEditable type="typeaheadjs" value=gardenPlant.garden success=onSuccessGarden name='garden' disabled=isNotUserLoggedIn typeahead=typeaheadjs}}
                    </dd>
                </dl>
            </div>
            <div class="">
                <button class="btn {{#if amIWatchingGardenPlant}}unwatchGardenPlant btn-primary{{else}}watchGardenPlant{{/if}}" type="button">
                    <i class="fa fa-eye" style="color:black;"></i>
                    {{#if amIWatchingGardenPlant}}Unwatch{{else}}Watch{{/if}} <span class="badge">{{_.size gardenPlant.watcher}}</span>
                </button>
            </div>
        </header>
        <div class="panel-group" id="gardenPlantDetails">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Upcoming events</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#if gt plant.waterInterval 0}}
                            <li>Water in {{diffToday gardenPlant.actions.water.nextDate 'd'}} days</li>
                        {{/if}}
                        {{#if gt plant.sprayInterval 0}}
                            <li>Spray in {{diffToday gardenPlant.actions.spray.nextDate 'd'}} days</li>
                        {{/if}}
                        {{#if gt plant.fertilizeInterval 0}}
                            <li>Fertilize in {{diffToday gardenPlant.actions.fertilize.nextDate 'd'}} days</li>
                        {{/if}}
                    </ul>
                </div>
            </section>
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{> gardenPlantActions this}}</h3>
                </div>

                <div class="panel-body">
                    {{> gardenPlantEvents}}
                </div>
            </section>
        </div>
    </div>
</template>

<template name="gardenPlantActions">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="gardenPlantActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Take care
            <span class="caret"></span>
        </button>
        <ul aria-labelledby="gardenPlantActions" class="dropdown-menu">
            <li><a href class="waterGardenPlant">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-{{GardenPlant.actionCssMapping 'water'}} fa-stack-1x fa-inverse"></i>
                </span>
                Water plant</a></li>
            <li><a href class="sprayGardenPlant">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-{{GardenPlant.actionCssMapping 'spray'}} fa-stack-1x fa-inverse"></i>
                </span>
                Spray plant</a></li>
            <li><a href class="fertilizeGardenPlant">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-{{GardenPlant.actionCssMapping 'fertilize'}} fa-stack-1x fa-inverse"></i>
                </span>
                Fertilize plant</a></li>
        </ul>
    </div>
</template>

<template name="gardenPlantEvents">
    <table class="table">
        <thead>
            <tr>
                <th>Event</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
        {{#each gardenPlantEvents}}
            <tr>
                <td>{{event}}</td>
                <td>{{createdAt}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>