<template name="gardenPlants">
    {{#if currentUser}}
        {{> newGardenPlant}}
    {{/if}}
    <div class="row list-garden-plants">
        <ul>
            {{#each gardenPlants}}
                <li class="row">
                    {{> gardenPlantListItem}}
                </li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="newGardenPlant">
    <div class="row newGardenPlant">
        <form class="newGardenPlantForm">
            <label class="col-md-2">
                <span>Name</span>
                <input type="text" name="name" value="" placeholder="Name" required/>
            </label>
            <label class="col-md-2">
                <span>Type</span>
                <select name="plantId" required>
                    <option value="">---</option>
                    {{#each plants}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </label>
            <button type="submit" class="createBtn">New</button>
        </form>
    </div>
</template>