<template name="home">
    {{> upcomingEvents}}
    {{> unattendedPlants}}
</template>

<template name="upcomingEvents">
    <div>
        <h2>Upcoming events</h2>
        {{#each upcomingEvents}}
            <div class="row">
                {{> gardenPlantListItem}}
            </div>
            {{else}}
            <div class="row">
                (: All your plants are taken care of :)
            </div>
        {{/each}}
    </div>
</template>

<template name="unattendedPlants">
    <div>
        <h2>Unattended plants</h2>
        {{#each unattendedPlants}}
            <div class="row">
                {{> gardenPlantListItem}}
            </div>
        {{/each}}
    </div>
</template>