<template name="home">
    {{> upcomingEvents}}
    {{> unattendedPlants}}
</template>

<template name="upcomingEvents">
    <div>
        <h2>Upcoming events</h2>
        {{#each upcomingEvents}}
            <div>
                {{name}}:
                {{> gardenPlantRequiredAction actionName='water' plant=this eventDayRange=5}}
                {{> gardenPlantRequiredAction actionName='spray' plant=this eventDayRange=5}}
                {{> gardenPlantRequiredAction actionName='fertilize' plant=this eventDayRange=5}}
            </div>
            {{else}}
            (: All your plants are taken care of :)
        {{/each}}
    </div>
</template>

<template name="unattendedPlants">
    <div>
        <h2>Unattended plants</h2>
        {{#each unattendedPlants}}
            <div>
            {{name}}
            </div>
        {{/each}}
    </div>
</template>