<template name="nav">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false"
                        data-target="#navbar" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{title}}</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {{#each navItems}}
                        <li><a href="{{uri}}">{{label}}</a></li>
                    {{/each}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}} <!-- here -->
                </ul>
            </div>
        </div>
    </nav>
</template>