<template name="plantDetails">
    <div class="row plant-details-page">
        <header>
            <h2>{{> xEditable type="text" value=name success=onSuccessName placement="right" name='name' mode='inline'}}</h2>
            <span>{{> xEditable type="text" value=scienceName success=onSuccessScienceName placement="right" name='scienceName' unsavedclass=null  mode='inline'}}</span>
        </header>
        <div class="panel-group" id="plantDetails">
            <section class="panel panel-default">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#plantDetails"
                                              href="#plantDescription">Description</a></div>
                <div id="plantDescription" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p class="editable-wrap">{{> xEditable type="textarea" value=plantDescription success=onSuccessPlantDescription name='plantDescription' unsavedclass=null mode='inline'}}</p>
                    </div>
                </div>
            </section>
            <section class="panel panel-default">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#plantDetails"
                                              href="#lightConditions">Lighting conditions</a></div>
                <div id="lightConditions" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p class="editable-wrap">{{> xEditable type="textarea" value=lightConditions success=onSuccessLightConditions name='lightConditions' unsavedclass=null mode='inline'}}</p>
                    </div>
                </div>
            </section>
            <section class="panel panel-default">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#plantDetails"
                                              href="#waterConditions">Watering conditions (every {{waterInterval}} day{{#if gt waterInterval 1 }}s{{/if}})</a></div>
                <div id="waterConditions" class="panel-collapse collapse">
                    <div class="panel-body">
                        <label>
                            Water every {{> xEditable type="number" value=waterInterval success=onSuccessWaterInterval name="waterInterval" unsavedclass=null mode='inline'}} day{{#if gt waterInterval 1 }}s{{/if}}
                        </label>

                        <p class="editable-wrap">{{> xEditable type="textarea" value=waterConditions success=onSuccessWaterConditions name='waterConditions' unsavedclass=null mode='inline'}}</p>
                    </div>
                </div>
            </section>
            <section class="panel panel-default">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#plantDetails"
                                              href="#fertilizerConditions">Fertilizing conditions (every {{fertilizerInterval}} day{{#if gt fertilizerInterval 1 }}s{{/if}})</a></div>
                <div id="fertilizerConditions" class="panel-collapse collapse">
                    <div class="panel-body">
                        <label>
                            Fertilize every {{> xEditable type="number" value=fertilizerInterval success=onSuccessFertilizerInterval name="fertilizerInterval" unsavedclass=null mode='inline'}} day{{#if gt fertilizerInterval 1 }}s{{/if}}
                        </label>
                        <p class="editable-wrap">{{> xEditable type="textarea" value=fertilizerConditions success=onSuccessFertilizerConditions name='fertilizerConditions' unsavedclass=null mode='inline'}}</p>
                    </div>
                </div>
            </section>
            <section class="panel panel-default">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#plantDetails"
                                              href="#sprayConditions">Spraying conditions (every {{sprayInterval}} day{{#if gt sprayInterval 1 }}s{{/if}})</a></div>
                <div id="sprayConditions" class="panel-collapse collapse">
                    <div class="panel-body">
                        <label>
                            Spray every {{> xEditable type="number" value=sprayInterval success=onSuccessSprayInterval name="sprayInterval" unsavedclass=null mode='inline'}} day{{#if gt sprayInterval 1 }}s{{/if}}
                        </label>

                        <p class="editable-wrap">{{> xEditable type="textarea" value=sprayConditions success=onSuccessSprayConditions name='sprayConditions' unsavedclass=null mode='inline'}}</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>