<template name="sensors">
    <section class="panel panel-default list-sensors">
        <header class="panel-heading">
            <h1 class="panel-title">Sensors</h1>
        </header>
        <table class="table">
            <tbody>
            {{#each sensors}}
                <tr>
                    <td>Air temperature: {{data.airTemperature.value}}</td>
                    <td>Soil temperature: {{data.soilTemperature.value}}</td>
                    <td>Soil moisture: {{data.soilMoisture.value}}</td>
                    <td>Soil conductivity: {{data.soilConductivity.value}}</td>
                    <td>Sun light: {{data.sunlight.value}}</td>
                    <td>{{uuid}}</td>
                    <td>{{name}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </section>
</template>