<template name="sensors">
    <section class="panel panel-default list-sensors">
        <header class="panel-heading">
            <h1 class="panel-title">Sensors</h1>
        </header>
        <table class="table">
            <tbody>
            {{#each sensors}}
                <tr>
                    <td title="{{uuid}}">
                        <i class="fa fa-tachometer"></i>
                        {{name}}
                    </td>
                    <td title="Update date">
                        <i class="fa fa-"></i>
                        {{Sensor.formatDateTime dataUpdate}}
                    </td>
                    <td title="Air temperature">
                        <i class="fa fa-upload"></i>
                        {{Sensor.formatTemperature data.airTemperature.value}}
                    </td>
                    <td title="Soil temperature">
                        <i class="fa fa-download"></i>
                        {{Sensor.formatTemperature data.soilTemperature.value}}
                    </td>
                    <td title="Soil moisture">
                        <i class="fa fa-flask"></i>
                        {{data.soilMoisture.value}}</td>
                    <td title="Soil conductivity">
                        <i class="fa fa-bolt"></i>
                        {{data.soilConductivity.value}}
                    </td>
                    <td title="Sun light">
                        <i class="fa fa-sun-o"></i>
                        {{data.sunlight.value}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </section>
</template>